@use "../abstracts" as *;
@font-face {
    font-family: Inter;
    src: url(../../font/Inter-VariableFont_opsz\,wght.ttf);
}

// html::-webkit-scrollbar {

//     // scrollbar-width: none;
//     background-color: $subtext;
//     width: 0.5rem;
// }

// html::-webkit-scrollbar-thumb {
//     background: $darkest-background;
// }

body {
    background-color: $background;
    font-family: Inter;
}