@use "../abstracts" as *;
@font-face {
    font-family: Inter;
    src: url(../../font/Inter-VariableFont_opsz\,wght.ttf);
}

.chenevisblock2 {
    background-color: $background;
    height: auto;
    font-size: 16px;
    
    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;

        @include desktop {
            margin-bottom: 2rem;
        }

        &__title {
            display: flex;
            align-items: center;
            height: 10vh;

            @include desktop {
                margin-top: 2rem;
            }
            
            &__h2 {
                color: $green200;
                
                width: 90%;

                @include desktop {
                    font-size: 40px;
                }
            }
        }

        &__contentpart {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @include laptop {
                flex-direction: row-reverse;
            }

            @include biglaptop {
                height: 220px
            }

            @include desktop {
                flex-direction: row-reverse;
                justify-content: space-between;
            }

            &__leftpart {
                color: $text;

                @include laptop {
                    width: 50%;
                }

                @include biglaptop {
                    height: 200px;
                }

                @include desktop {
                    font-size: 20.8px;
                    width: 50%;
                }
            }

            &__rightpart {
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                @include laptop {
                    margin-top: 0rem;
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                @include biglaptop {
                    align-items: start;
                    justify-content: center;
                    height: 220px;
                }

                @include desktop {
                    margin-left: 7rem;
                }

                img {
                    @include laptop {
                        width: 80%;
                        height: 60%;
                    }

                    @include biglaptop {
                        width: 70%;
                        height: 80%;
                        margin-right: 10rem;
                    }
                }
            }
        }
    }
}